body{
	font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: #f0f0f2;

}

/***Main Head***/

.sec_2{
	  
	   height: 300px;
	   width:200px;
	   margin-left: 90px; 
	   margin-bottom:80px;
	   position: relative;
	   bottom:60px;
	   right:60px;

}

.bor_1{

	  border-bottom: 1px solid lightgrey;
    padding-right:40px;
    padding-bottom:5px;
  
	
}
.sec_1 {
	   border: 2px solid lightgrey;
     background-color:white;
     margin:50px 15px 10px 15px;   
     height:600px;    

}	


.pos_1{

	font-weight:bolder;
   word-spacing:7px;
	position:relative;
	top:14px;
	margin-left:32px;
	color:#0F4C75;
}

.pos_2{

	position: relative;
	bottom:40px;
	color: #0F4C75;
	left:620px;

	
}

.pos_3{

	font-family: Arial, Helvetica,FontAwesome, sans-serif;
	font-size:40px;
	position:relative ;
	font-size:14px;
	left: 1205px;
	bottom: 83px;
	padding:5px;
	border:none;
	border-bottom:1px solid black;

}

/***Table***/

table{

	color:#0F4C75;
	border-collapse: collapse;

}

table,th,td{

		border:1px solid lightgrey;
	
}

th{

	text-align: left;
}


td{

font: 15px Arial, sans-serif;
padding:20px 70px 20px 5px;

}

.tab_1{
	padding:25px 250px 5px 5px;
}

.tab_2{
	padding:10px 250px 10px 5px;
}

.fon_1{
	position: relative;
	left:50px;
	bottom:19px;
}

.fon_2{
	position: relative;
	left:33px;
	bottom:19px;
}

.fon_3{
		position: relative;
	left:65px;
	bottom:19px;
}

.tab_3{
  padding:27px 150px 5px 5px;

}

.tab_4{

  padding:20px 150px 15px 5px;

}

.tab_5{
	padding:20px 100px 5px 5px;
	position:relative;
	top:5px;

}
.tab_6{
	padding:20px 100px 10px 5px
}

.fai_1{
	color:#1597E5; 
	font-size:20px;
	padding-left:10px;
	letter-spacing: 5px;
}

.fai_2{
	color:orange; 
	font-size:20px;
  position: relative;
	left:5px;
	

}

.fai_3{
	color:red; 
	font-size:20px;
	position: relative;
	left:15px;
	
}

.fai_4{
	position: relative;
	left: 600px;
}

.fai_5{
  position: relative;
  left:37px;
}


/*** footer ***/

.pos_4{

  font-family: Arial, Helvetica, sans-serif;
  word-spacing:7px;
	position:relative;
	top:14px;
	margin-left:32px;
	color:#0F4C75;
}


.page_pos{
  font-family: Arial, Helvetica, sans-serif;
	word-spacing:32px;
	position:relative ;
	left: 1000px;
  bottom:23px;
}

.page{
	color:darkgray;
	text-decoration: none;
}

.page_bro{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
  height:25px;
	color: white;
  width:25px;
  padding:15px 20px 15px 20px;
  background-color:#1597E5; 
  border-radius: 50%; 
}
